{#
/**
 * @file
 * Displays a list of node results
 *
 * Available variables
 * - results: The node render arrays
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<section>
    <header>
        <h2>{% if month %}{{ start|date('F') }} {% endif %}{{ year }}</h2>
    </header>
    {{ form }}
    {{ results }}
</section>
